/* WishlistPage.css */
.wishlist-page {
    padding: 8em; 
    padding-top: 2.5em;
    background-color: fff; /* Fondo blanco para la página completa */
}

.wishlist-title {
    text-align: center;
    margin-bottom: 50px; 
    font-size: 2.5rem;
    font-weight: bold; 
    color: #34251F;
    font-family: "Frank Ruhl Libre", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wishlist-items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
    justify-content: space-around;
}

.wishlist-item {
    display: flex; 
    align-items: center; 
    padding: 10px; 
    width: calc(50% - 20px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.07); 
    position: relative;
    background-color: #fff; 
    margin-bottom: 30px; 
    
     
}

.wishlist-item img {
    width: auto;
    max-width: 30%;
    height: auto; 
    margin-right: 20px;
}

.item-details {
    text-align: left;
    flex-grow: 1;
    color: #34251F;
    letter-spacing: 0.3px;
    font-family: "Frank Ruhl Libre", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.item-details h2{
    font-size: 1.4rem;
}

.item-details p {
    margin: 0; 
    white-space: nowrap; 
    font-weight: bold;
    letter-spacing: 0.7px;
    
}


.wishlist-item button {
    position: absolute;
    top: 40%;
    right: 4%;
    border: none;
    background-color: #34251F;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px; 
    font-size: 0.8rem;
    font-family: lato;
    font-weight: 600;
    border-radius: 10%;
    margin-left: 20px;
}


@media (max-width: 768px) {
    .wishlist-item {
        width: calc(100% - 30px);
    }
}

