.App {/*se le da un tamaño a la pagina*/
    width: 100vw;
    height: auto;
    min-height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {/*se quita el padding y margin que vienen por defecto en la pagina*/
    padding: 0;
    margin: 0;
  }