body{
    overflow: auto;
}

.pantalla-dividida{
    display: flex;
}

.izquierda{
    width: 45%;
    height: 100vh;
    background-image: url("../../assets/img-login.jpg");
    background-position: center;
    opacity: 65%;
} 

.derecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px;
}

.container{
    justify-content: center;
    align-items: center;
    margin: 70px 40px;
}

.title-login{
    font-size: 63px;
    font-weight: bold;
    color: #34251F;
}

.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

p{
    margin-top: 30px;
}
span{
    text-decoration: 2px solid underline;
}