@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@700&family=Lato:wght@400&display=swap');

:root {
    --color-primary-dark-brown: #34251F;
  
}

body{
  overflow: auto;
}


.hero-section{
  justify-content: center;
  align-items: center;
  background-color: #EEDDCC;
  padding: 45px;
  position: relative;
  overflow: hidden;
  
}

.hero-container{
  display: flex;
  align-items: center;
}

.hero-content{
  padding: 30px;
}

.hero-content h1{
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 4.5em;
  font-weight: 700;
  line-height: 1em;
  color: #34251F;
  margin-bottom: 0.5em;
  width: 45%;
}

.hero-content p {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.5em;
  color: #34251F;
  margin-bottom: 1.5em;
  width: 40%;
  margin-bottom: 70px;
  font-family: lato;
}

.image-content img{
  width: 500px;
  height: 650px;
  border-radius: 20px;
  border-bottom-left-radius: 120px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0px;
  object-fit: cover;
}

.hero-section::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../../assets/decoration.svg') no-repeat bottom;
  z-index: -999;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 50px;
    box-sizing: border-box;
}


/* FASHION */ 


.fashion-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 15px;
    margin: auto;
}

.fashion-image-container {
    flex-basis: 35%;
    position: relative;
    height: 500px;
}

.fashion-image-container img {
    width: 100%;
    height: 100%;
    border-radius: 15px 0 0 00px;
    object-fit: cover;
    margin-bottom: 20px;
    border-top-left-radius: 120px;
}

.fashion-content {
    flex-basis: 60%;
    padding: 20px 100px;
    text-align: left;
    color: #34251F;
}

.fashion-content h2 {
    color: var(--color-primary-dark-brown);
    font-weight: 700;
    line-height: 78px;
    margin: 0; 
    font-size: 490px;
}

.fashion-content h2 {
    font-size: 2.5em;
    margin-top: 0;
    font-family: "Frank Ruhl Libre";
}

.fashion-content p {
    color: var(--color-primary-dark-brown);
    font-size: 20px;
    font-weight: 400;
    line-height: 180%;
    margin-top: 15px;
    font-family: lato;
}
.fashion-stats .stat h3, .fashion-stats .stat p {
    color: var(--color-primary-dark-brown);
    text-transform: capitalize;
    line-height: 120%; 
    text-align: center;
}

.fashion-stats {
    display: flex;
    margin-top: 30px;
}

.stat {
    margin-right: 50px;
}

.stat h3 {
    font-size: 2em;
    margin-bottom: 0;
}

.stat p {
    margin-top: 5px;
}


/* REVIEWS */

.review-section {
  text-align: center;
  padding: 50px 0;
  background-color: #fff;
}

.review-header h2 {
  font-size: 2.5em;
  margin-bottom: 0.2em;
  color: #34251F;
  font-family: "Frank Ruhl Libre";
}

.review-header p {
  font-size: 1em;
  margin-bottom: 2em;
  color: #34251F;
text-align: center;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 180%;
padding-top: 5px;
}

.review-slider {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  position: static !important;
  text-align: center !important;
  padding-top: 20px !important;
}

.swiper .swiper-pagination-bullet {
  border: 2px solid #34251F !important;
  opacity: 0.5 !important;
  background: transparent !important;
  border-radius: 50%;
}

.swiper .swiper-pagination-bullet-active {
  background: #34251F !important; 
  border: none !important;
  opacity: 1 !important;
}

.review-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: none;
  width: 650px;
  margin: 0 15px;
  padding: 20px;
  background-color: #faf2ea;
  border-radius: 3px;
  border: 1px solid #ffffff;
}


.review-card img {
  width: 90px;
  height: 90px;
  border-radius: 70%;
}

.review-card .image-container {
  display: flex;
  padding-top: 25px;
  justify-content: center;
  align-items: center;
  height: 100px;
}


.review-card h3 {
  color: var(--color-primary-dark-brown, #34251F);
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px;
  padding-top: 3%;
  padding-left: 13%;
  padding-right: 13%;

}

.review-card p {
  font-family: Lato;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 30px;
opacity: 0.8;
padding-left: 5%;
padding-right: 5%;
}

.review-card:not(:last-child) {
  margin-right: 30px;
  
}
@media (max-width: 768px) {
  
  .home-container {
      flex-direction: column;
  }
}


.shopTitle {
  margin-top: 100px;
  text-align: center;
  font-size: 25px;
  color: var(--color-primary-dark-brown, #34251F);
  font-family: "Frank Ruhl Libre";
}


.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 2rem; 
  justify-content: center;
  align-items: center;
  padding: 7em;
  padding-top: 3em;
}

.product {
  /* border-radius: 10px; */
  position: relative;
  width: 100%; 
  height: auto;
  margin: 0; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  background-color: #fff; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  transition: transform 0.3s ease-in-out; 
  position: relative;
}



@keyframes slide {
  0% {margin-left: 0%;}
  33% {margin-left: 0%;}

  35% {margin-left: -100%;}
  66% {margin-left: -100%;}

  69% {margin-left: -200%;}
  99% {margin-left: -200%;}
}

.slide-var {
  width: 100%;
  overflow: hidden;
}

.slide-var ul {
  display: flex;
  padding: 0;
  width: 300%;
  animation: slide 12s infinite alternate ease-in-out;
}

.slide-var li {
  list-style: none;
  width: 100%;
}

.slide-var img {
  width: 100%;
}

.product .description {
  text-align: center;
  color: var(--color-primary-dark-brown, #34251F);
  font-size: 21px;
  font-weight: 500;
  font-family: "Frank Ruhl Libre";
  padding-bottom: 2rem;
}

.product .price{
  font-family: lato;
  padding-bottom: 2rem;
  text-align: center;
  color: var(--color-primary-dark-brown, #34251F);
  font-size: 21px;
  font-weight: 500;
}

/* .product .descripcion {
  font-size: 15px;
  color: #333;
  text-align: center;
} */

.categoryMenu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 25px;
  font-family: lato;
}

.categoryItem {
  font-size: 1rem;
  color: #333;
  padding: 5px 10px;
  cursor: pointer;/* Transición suave del color */
}


.categoryItem::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  transition: width .3s ease-out; /* Transición suave de la anchura */
}

.categoryItem:hover::after {
  width: 100%; /* Extiende la línea en hover */
}


.product-content{
  transition: opacity 0.3s, filter 0.3s;
  transition: opacity 0.3s, filter 0.3s;
}

.icon-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 12px;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.product:hover .icon-container {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.1);
}

.product:hover {
  transform: translateY(-5px); /* Eleva la tarjeta ligeramente al hacer hover */
  box-shadow: 0 6px 12px rgba(0,0,0,0.15); 
  
}

.product:hover .product-content{
  opacity: 0.7;
  filter: blur(2px);
}

.product:hover .heart-icon{
  display: block;
}

.product:hover .cart-icon{
  display: block;
}

.heart-icon,
.cart-icon {
  cursor: pointer;
  font-size: 30px;
  transition: transform 0.3s;
}

.heart-icon:hover,
.cart-icon:hover {
  transform: scale(1.2);
}

.heart-icon,
.cart-icon {
  color: #000000;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}




.icon-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 12px;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.heart-icon{
  display: none;
  cursor: pointer;
  font-size: 30px;
}

.cart-icon{
  display: none;
  cursor: pointer;
  font-size: 30px;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;



.hero-section {
      padding: 20px;
      text-align: center;
      flex-direction: column;
  }

  .hero-container{
    flex-direction: column;
  }

  .hero-content{
    font-size: 0.7em;
    text-align: center;
    padding: 1em;

  }

.image-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 70px;
}



  
  .fashion-section {
      flex-direction: column;
      font-family: "Frank Ruhl Libre";
  }

  .fashion-image-container img {
      width: 100%;
      height: auto;
  }

  .fashion-content {
      padding: 20px;
  }

  .fashion-content h1, .fashion-content h2 {
      font-size: 2em;
      line-height: 1.2em;
      text-align: center;
      
  }

  .fashion-content p {
      font-size: 1em;
      text-align: center;
  }

  .fashion-stats .stat {
      margin-right: 20px;
  }

}







@media (max-width: 2000px) {

.hero-section{
  justify-content: center;
  align-items: center;
  background-color: #EEDDCC;
  padding: 8em;
  padding-top: 2.5%;
  padding-bottom: 10%;
  position: relative;
  overflow: hidden;
  
}

.hero-container{
display: flex;
align-items: center;
}

.hero-content h1{
font-family: 'Frank Ruhl Libre', serif;
font-size: 4.5em;
font-weight: 700;
line-height: 1em;
color: #34251F;
margin-bottom: 0.5em;
width: 70%;
}

.hero-content p{
width: 70%;
}

.fashion-section{
  padding: 8%;

}

/* .fashion-image-container img {
    margin-bottom: 20px;
    width: 500px;
  height: 650px;
  border-radius: 20px;
  border-bottom-left-radius: 120px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0px;
  object-fit: cover;
} */

.fashion-content {
    width: 100%;
}



}